.d1{
    width: 98%;
    height: 200px;
    margin: 1%;
    float: left;
    background-color: #3c9bbb;
}
/*宽度更大的样式覆盖更小的*/
/*宽度更大的样式未设置，会沿用上一个已定义的小宽度的样式*/
@media screen and (min-width: 768px) {
    .d1{
        width: 48%;
    }
}

@media screen and (min-width: 992px)  {
    .d1{
        width: 31%;
    }
}

@media screen and (min-width: 1200px) {
    /*.d1{*/
        /*width: 23%;*/
    /*}*/
}
